DATABASE_URL=postgres://user:password@localhost:5432/trackr
JWT_SECRET=GENERATE_A_SECRET_KEY_FOR_JWT
CLAUDE_API=your-anthropic-api-key
APP_EMAIL=your-gmail-address
APP_EMAIL_PASSWORD=your-gmail-app-password
FRONTEND_URL=http://localhost:4200
PORT=5000